h1 {
  color: green;
  font-style: italic
}
.success {
  color: green;
  background-color: lightgray;
  padding: 0.5em;
  border: solid green;
  border-radius: 0.3em;
  margin-bottom: 1em;
}
.error {
  color: red;
  background-color: lightgray;
  padding: 0.5em;
  border: solid red;
  border-radius: 0.3em;
  margin-bottom: 1em;
}